// FOOTER::START
footer.footer
  .container
    .row.relative
      .col-sm-6
        .footer__copy DoctorFrank
      .col-sm-6
        .footer__developer.text-sm-right
          a(href="#") Разработано с "Гордостью"

          a(href="#section-top").scroll-up

include modal.pug
