// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-6
        .footer__copy ©2016 DoctorFrank
      .col-sm-6
        .footer__developer.text-sm-right
          a(href="#") Сделано с любовью © SK

a(href="#section-top").scroll-up

include modal.pug
