// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-6
        .footer__copy © DoctorFrank
      .col-sm-6
        .footer__developer.text-sm-right
          a(href="#") Сверстано Mango Digital

a(href="#section-top").scroll-up

include modal.pug
