head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Доктор Франк
  //build:js js/main.min.js
  script(src="/js/lib/jquery-2.2.4.min.js")
  script(src="/js/lib/jquery.event.move.js")
  script(src="/js/lib/jquery.twentytwenty.js")
  script(src="/js/lib/jquery.magnific-popup.min.js")
  script(src="/js/lib/jquery.maskedinput.min.js")
  script(src="/js/lib/jquery.scrollify.min.js")
  script(src="/js/lib/moment.min.js")
  script(src="/js/lib/daterangepicker.js")
  script(src="/js/main.js")

  //endbuild

  //build:css css/style.min.css
  link(rel="stylesheet" href="css/lib/bootstrap.css" type="text/css")
  link(rel="stylesheet" href="css/lib/hamburgers.css" type="text/css")
  link(rel="stylesheet" href="css/lib/twentytwenty.css" type="text/css")
  link(rel="stylesheet" href="css/lib/magnific-popup.css" type="text/css")
  link(rel="stylesheet" href="css/style.css" type="text/css")
  link(rel="stylesheet" href="css/lib/services.css" type="text/css")
  link(rel="stylesheet" href="css/lib/daterangepicker.css" type="text/css")
  //endbuild
