// MODAL
#modalCallback.zoom-anim-dialog.mfp-hide.modal
  .container
    .row
      .col-sm-12
        .modal__heading ЗАПИШИТЕСЬ <br /> НА ПРИЕМ
        .modal__desc МЫ С РАДОСТЬЮ ВАМ ПЕРЕЗВОНИМ
        form.modal__form
          .row
            .col-sm-6
              .modal__form__input
                input(type="text" id="firstName" name="firstName" autocomplete="off" required)
                label Ф.И.О <span>*</span>
              .modal__form__input
                input(type="text" id="phone" name="phone" autocomplete="off" required)
                label Ваш телефон <span>*</span>
              .modal__form__input
                input(type="text" id="type" name="type" autocomplete="off" required)
                label Причина обращения
            .col-sm-6
              .row
                .col-sm-6
                  .modal__form__input
                    input(type="text" id="date" name="date" autocomplete="off" required)
                    label Дата приема
                .col-sm-6
                  .modal__form__input
                    input(type="text" id="time" name="time" autocomplete="off" required)
                    label Время
              .modal__form__input
                input(type="text" id="doctor" name="doctor" autocomplete="off" required)
                label Врач <span class="ico ico-dropdown"></span>
                select
                  option(data-name="Иванова Нина Николаевна") Иванова Нина Николаевна
                  option(data-name="Петрова Наталья Сергеевна") Петрова Наталья Сергеевна
                  option(data-name="Сидорова Евгения Павловна") Сидорова Евгения Павловна
                  option(data-name="Зубодерова Васелина Антоновна") Зубодерова Васелина Антоновна
                  option(data-name="Молоток Николай Петрович") Молоток Николай Петрович
                  option(data-name="Петросян Василий Иванович") Петросян Василий Иванович
                  option(data-name="Иванова Нина Николаевна") Иванова Нина Николаевна
                  option(data-name="Петрова Наталья Сергеевна") Петрова Наталья Сергеевна
                  option(data-name="Сидорова Евгения Павловна") Сидорова Евгения Павловна
                  option(data-name="Зубодерова Васелина Антоновна") Зубодерова Васелина Антоновна
                  option(data-name="Молоток Николай Петрович") Молоток Николай Петрович
                  option(data-name="Петросян Василий Иванович") Петросян Василий Иванович
                  option(data-name="Иванова Нина Николаевна") Иванова Нина Николаевна
                  option(data-name="Петрова Наталья Сергеевна") Петрова Наталья Сергеевна
                  option(data-name="Сидорова Евгения Павловна") Сидорова Евгения Павловна
                  option(data-name="Зубодерова Васелина Антоновна") Зубодерова Васелина Антоновна
                  option(data-name="Молоток Николай Петрович") Молоток Николай Петрович
                  option(data-name="Петросян Василий Иванович") Петросян Василий Иванович
              a.mt50.btn.btn--outline.btn--huge.btn--white.btn--rounded.btn--fill.btn--right(href="#") ПЕРЕЗВОНИТЕ МНЕ →
