// Personal Modals

//first
#modalPeopleOne.zoom-anim-dialog.mfp-hide.modal.modal--personal
  .container
    .row
      .col-sm-6
        img(src="images/people/frank_2.jpg").img-fluid.modal__personal__image
      .col-sm-6
        .modal__personal__name Франк <br> Мария Михайловна
        .modal__personal__status
          | Главный врач клиники <br>
          | Кандидат медицинских наук, врач хирург- имплантолог <br>
          | высшей категории, ортопед.
        .modal__personal__biography
          | Образование, специализация,участие в семинарах,когрессах: <br />
          | <span>2000 год</span> - окончила СГМИ по специальности лечебное дело. Врач общей практики. <br />
          | <span>2003 год</span> -  окончила СГМИ по специальности стоматология. <br />
          | <span>2005 год</span> - окончила клиническую ординатуру по челюстно-лицевой хирургии . <br />
          | <span>2006 году</span> защитила кандидатскую диссертацию по вопросам хирургического лечения пародонтита. <br />
          | <span>2007 год</span> - специализация в клинике профессора Карло Тинти (Carlo Tinti) в г.Брешиа (Италия) по вопросам направленной регенерации костной ткани. <br />
          | <span>2008 год</span> - специализация по ортопедической стоматологии  ( г. Тверь). <br />
          | <span>2011 год</span> - специализация по вопросам открытого синус-лифтинга и одномоментной имплантации под рук. проф. Карло Майорана (C. Maiorano), Миланский университет, Италия. <br />
          | <span>2012 год</span> - специализация в центре остеоинтеграции под рук-вом проф. Патрика Палаччи ( Patric Pallacci) г.Марсель, Франция по вопросам комплексной реабилитации на имплантатах. <br />
          | <span>2013 год</span> - специализация в учебном центре Osteoplac под рук. Д-ра И. Гамборена (I. Gamborena) Сан-Себастьян, Испания, по вопросам имплантации во фронтальном отделе и достижения максимального эстетического результата. <br />
          | <span>2014 год</span> - индивидуальный курс в клинике Д-ра И. Гамборена (I. Gamborena ) <br />
