nav.st-menu.st-effect-8#menu-8
  ul
    li
      a(href="#") Hаши клиники
    li
      a(href="#") Персонал
    li
      a(href="#") Услуги
    li
      a(href="#") Портфолио
    li
      a(href="#") Новости
    li
      a(href="#") Пациентам
    li
      a(href="#") Вопрос-ответ
    li
      a(href="#") Отзывы
    li
      a(href="#") Партнеры
    li
      a(href="#") Kонтакты
