nav.st-menu.st-effect-8#menu-8
  button.hamburger.hamburger--spin.is-active#close-sidebar(type="button" data-effect="st-effect-8")
    span.hamburger-box
      span.hamburger-inner
  ul
    li
      a(href="kliniki.html") Hаши клиники
    li
      a(href="personal.html") Персонал
    li.have-ul
      a(href="services.html") Услуги
    li
      a(href="portfolio.html") Портфолио
    li
      a(href="#") Новости
    li
      a(href="#") Пациентам
    li
      a(href="faq.html") Вопрос-ответ
    li
      a(href="testimonials.html") Отзывы
    li
      a(href="partners.html") Партнеры
    li
      a(href="contact.html") Kонтакты
  ul.sublvl
    .sublbl__title Услуги
    .sublvl__back &#8592; Назад
    li: a(href="#") Название услуги
    li: a(href="#") Название услуги
    li: a(href="#") Название услуги
