doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          .mobile-menu-active-bg.text-xs-center
            a(href="/")
              .hero__logo.img-fluid.mt10
            .hero__logo__light
          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent.header--black
            include shared/header.pug

          //HERO::START
          .hero.hero--no-img
            .container
              .row
                .col-sm-12.text-xs-center
                  a(href="/")
                    .hero__logo.img-fluid

          //CONTACT::START
          section.contact
            .container
              .row
                .col-sm-8
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Контакты
                    h1.heading__name.mt20 Контакты
              script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ7cSH9q3PNktp36f_tvdwXRJYlHTn6TM")
              script(src="js/map.js")

              .row.contact__item
                .col-sm-6.no-pad-r
                  .contact__map#contact__map__first
                  .contact__details
                    .row
                      .col-sm-7
                        .contact__details__name Адрес:
                        .contact__details__content г. Москва, ул.Хорошевское шоссе, 90, <br /> т. 495-322-22-33, 495-322-22-33;:
                      .col-sm-5.no-pad-l
                        .contact__details__name Часы работы:
                        .contact__details__content Пн - Пт: с 8.00—21.00 ч. <br /> Сб - Вс: с 10.00—18.00 ч.
                .col-sm-6.no-pad-l
                  img(src="images/amundsena.jpg").img-fluid
                  .contact__details
                    .row.flex--center
                      .col-sm-5.offset-sm-1
                        .contact__details__name Почта:
                        .contact__details__content
                          a(href="#") mail@doctorfrank.ru
                          a(href="#") Info@doctorfrank.ru
                      .col-sm-11.col-lg-6.offset-sm-1.offset-lg-0
                        a(href="#modalCallback").popup-with-zoom-anim.btn.btn--huge.btn--rounded.btn--primary ЗАПИСАТЬСЯ НА ПРИЕМ →
              //second
              .row.contact__item
                .col-sm-6.no-pad-r
                  .contact__map#contact__map__second
                  .contact__details
                    .row
                      .col-sm-7
                        .contact__details__name Адрес:
                        .contact__details__content г. Москва, ул.Хорошевское шоссе, 90, <br /> т. 495-322-22-33, 495-322-22-33;:
                      .col-sm-5.no-pad-l
                        .contact__details__name Часы работы:
                        .contact__details__content Пн - Пт: с 8.00—21.00 ч. <br /> Сб - Вс: с 10.00—18.00 ч.
                .col-sm-6.no-pad-l
                  img(src="images/bakinskih.jpg").img-fluid
                  .contact__details
                    .row.flex--center
                      .col-sm-5.offset-sm-1
                        .contact__details__name Почта:
                        .contact__details__content
                          a(href="#") mail@doctorfrank.ru
                          a(href="#") Info@doctorfrank.ru
                      .col-sm-11.col-lg-6.offset-sm-1.offset-lg-0
                        a(href="#modalCallback").popup-with-zoom-anim.btn.btn--huge.btn--rounded.btn--primary ЗАПИСАТЬСЯ НА ПРИЕМ →

              //third
              .row.contact__item
                .col-sm-6.no-pad-r
                  .contact__map#contact__map__thrid
                  .contact__details
                    .row
                      .col-sm-7
                        .contact__details__name Адрес:
                        .contact__details__content г. Москва, ул.Хорошевское шоссе, 90, <br /> т. 495-322-22-33, 495-322-22-33;:
                      .col-sm-5.no-pad-l
                        .contact__details__name Часы работы:
                        .contact__details__content Пн - Пт: с 8.00—21.00 ч. <br /> Сб - Вс: с 10.00—18.00 ч.
                .col-sm-6.no-pad-l
                  img(src="images/sheinkmana.jpg").img-fluid
                  .contact__details
                    .row.flex--center
                      .col-sm-5.offset-sm-1
                        .contact__details__name Почта:
                        .contact__details__content
                          a(href="#") mail@doctorfrank.ru
                          a(href="#") Info@doctorfrank.ru
                      .col-sm-11.col-lg-6.offset-sm-1.offset-lg-0
                        a(href="#modalCallback").popup-with-zoom-anim.btn.btn--huge.btn--rounded.btn--primary ЗАПИСАТЬСЯ НА ПРИЕМ →


          include shared/footer.pug
