doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          #st-trigger-effects
            button.hamburger.hamburger--spin#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            .container
              .row
                .col-sm-12
                  .header__wrapper
                    ul.header__navi
                      li.header__navi__btn
                        a(href="#modalCallback").popup-with-zoom-anim Записаться на прием
                      .header__navi__sections
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") ПЕРСОНАЛ
                        li
                          a(href="#") УСЛУГИ
                        li
                          a(href="#") ПОРТФОЛИО
                        li
                          a(href="#") КОНТАКТЫ

                      li.header__navi__lang-switcher
                        a(href="#") RU
                      li.header__navi__lang-switcher
                        a(href="#") EN
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-fb
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-insta

          //HERO::START
          .hero.hero--short.hero--kliniki
            .container
              .row
                .col-sm-12.text-sm-center
                  .hero__logo.img-fluid.hero__logo--white

          //KILINIKI::START
          section.kliniki
            .container
              .row
                .col-sm-8
                  .heading.mb50
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Клиники

              .row
                .col-sm-6.content
                  h1.heading__name Наши клиники
                  p Безусловный приоритет работы нашей клиники - оказание всесторонней высококвалифицированной стоматологической помощи взрослым и детям. Используя новейшие технологии мировой стоматологии , мы уверены в их качестве, пользе , безопасности.В своих решениях мы опираемся на знания и многолетний собственный опыт и опыт наших зарубежных коллег. Наш пациент знает, что получает лучшее. <br> Коллектив - наше преимущество!
                  .content__heading Специалисты клиники
                  .row
                    .col-sm-6
                      a(href="#") Франк Мария Михайловна
                      a(href="#") Беляева Анжела Евгеньевна
                      a(href="#") Симонов Андрей Анатольевич
                      a(href="#") Дзех Ольга Дмитриевна
                    .col-sm-6
                      a(href="#") Франк Мария Михайловна
                      a(href="#") Беляева Анжела Евгеньевна
                      a(href="#") Симонов Андрей Анатольевич
                      a(href="#") Дзех Ольга Дмитриевна
                  .row
                    .col-sm-6
                      .content__heading Адрес:
                      p г. Москва, ул.Хорошевское шоссе, 90, <br /> т. 495-322-22-33, 495-322-22-33;:
                    .col-sm-6
                      .content__heading Часы работы:
                      p Пн - Пт: с 8.00—21.00 ч. <br /> Сб - Вс: с 10.00—18.00 ч.

                .col-sm-6.pictures
                  .row
                    .col-sm-12.content__tabs
                      a(href="#").active ул. Шейнкмана
                      a(href="#") ул. Бакинских комиссаров
                      a(href="#") ул. Амундсена
                    .col-sm-12
                      img(src="images/kliniki_1.jpg").img-fluid
                    .col-sm-6.half-pad-r
                      img(src="images/kliniki_2.jpg").img-fluid
                    .col-sm-6.half-pad-l
                      img(src="images/kliniki_3.jpg").img-fluid
                    .col-sm-6.half-pad-r
                      img(src="images/kliniki_4.jpg").img-fluid
                    .col-sm-6.half-pad-l
                      img(src="images/kliniki_5.jpg").img-fluid

          include shared/footer.pug
