doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner#fullpage
          #st-trigger-effects
            button.hamburger.hamburger--spin#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANSPARENT HEADER:: START
          header.header.header--transparent
            include shared/header.pug

          //HERO::START
          .hero.hero--mainpage.section.fp-auto-height
            .container
              .row
                .col-sm-12.text-xs-center
                  .hero__logo.img-fluid
              .row
                .col-sm-12
                  .hero__title МОЙ ОПЫТ. <br /> МОЯ ОТВЕТСТВЕННОСТЬ.
                  .hero__signature Мария Михайловна Франк
                    span Кандидат медицинских наук, <br /> главный врач клиники Doctor FRANK
              .row
                .col-sm-12.text-xs-center
                  .scroll-down
                    i.ico.ico-scroll-down
                    span Переходите <br> ниже

          //ABOUT::START
          section.about.about--mainpage.section.fp-auto-height
            .container
              .row
                .col-sm-6.col-md-5.offset-md-1.no-pad-xs
                  .about__block.about__block--primary
                    span В своих решениях мы опираемся на знания и многолетний собственный опыт и опыт наших зарубежных коллег. Наш пациент знает, что получает лучшее.
                    a.btn.btn--huge.btn--rounded.btn--outline.btn--white(href="#") ПОЛНАЯ ИНФОРМАЦИЯ →
                .col-sm-7.pull-sm-1.absolute.no-pad-xs
                  .about__block.about__block--light
                    .about__block__title О клиниках
                    span Безусловный приоритет работы нашей клиники - оказание всесторонней высококвалифицированной стоматологической помощи взрослым и детям. Используя новейшие технологии мировой стоматологии , мы уверены в их качестве, пользе , безопасности.
              .row
                .col-sm-12.text-xs-center
                  .scroll-down.scroll-down--gray
                    i.ico.ico-scroll-down--gray
                    span Переходите <br> ниже

          //SERVICES::START
          section.services.services--mainpage.section.fp-auto-height
            .container
              .row
                .col-sm-12.h100
                  .services__title УСЛУГИ <br> КЛИНИКИ
                  .serivces__spiral
                    a.serivces__spiral__pos-one(href="#") Диагностика
                    a.serivces__spiral__pos-two(href="#") Ортодония
                    a.serivces__spiral__pos-three(href="#")
                      span Детская <br> стоматология
                    a.serivces__spiral__pos-four(href="#") Пародонтология
                    a.serivces__spiral__pos-five(href="#") Имплантация
                    a.serivces__spiral__pos-six(href="#") Протезирование
                    a.serivces__spiral__pos-seven(href="#") Терапия
                    a.serivces__spiral__pos-eight(href="#")
                      span Эстетическая <br> стоматология
          //top
          a(href="#section-top").scroll-up

          include shared/modal.pug
