doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          #st-trigger-effects
            button.hamburger.hamburger--spin.hamburger--white.toggleHambColor#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            include shared/header.pug

          //HERO::START
          .hero.hero--short.hero--personal
            .container
              .row
                .col-sm-12.text-xs-center
                  .hero__logo.img-fluid.hero__logo--white

          //PERSONAL::START
          section.personal
            .container
              .row
                .col-sm-12
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Персонал
                  .row
                    .col-sm-6
                      h1.heading__name.heading__name__condenced ПЕРСОНАЛ <br> СЕТИ КЛИНИК <br> ДОКТОР ФРАНК
                    .col-sm-6
                      .heading__paragraph
                        .heading__paragraph__name Коллектив - наше преимущество!
                        .heading__desc Специалисты Doctor Frank — это не только профессионалы в своей области, обладающие глубокими научными знаниями и мастерством, но и люди, способные мыслить творчески, постоянно ищущие более эффективные и удобные для пациента пути решения проблем.

              // ITEMS
              .mansory-grid
                .grid-sizer
                a(href="#modalPeopleOne").popup-with-zoom-anim.personal__card.personal__card--huge
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/frank_1.jpg").img-fluid

                a(href="#").personal__card.personal__card--no-hover
                  img(src="images/personal_1.jpg").img-fluid

                a(href="#").personal__card
                  .personal__card__name Мама Франк
                  .personal__card__status должность
                  img(src="images/people/13.jpg").img-fluid

                a(href="#").personal__card.personal__card--wide
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/4.jpg").img-fluid

                //row

                a(href="#").personal__card
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/10.jpg").img-fluid
                a(href="#").personal__card.personal__card--no-hover.mt30
                  img(src="images/personal_2.jpg").img-fluid
                a(href="#").personal__card.personal__card--long
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/2.jpg").img-fluid
                a(href="#").personal__card.personal__card--wide
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/5.jpg").img-fluid
                a(href="#").personal__card.personal__card--no-hover
                  img(src="images/personal_3.jpg").img-fluid
                a(href="#").personal__card.personal__card--long.mt30
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/6.jpg").img-fluid
                a(href="#").personal__card
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/11.jpg").img-fluid
                a(href="#").personal__card.mt30
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/12.jpg").img-fluid
                a(href="#").personal__card.personal__card--no-hover.mt30
                  img(src="images/personal_4.jpg").img-fluid
                a(href="#").personal__card
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/1.jpg").img-fluid
                a(href="#").personal__card.mt30
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/9.jpg").img-fluid
                a(href="#").personal__card.personal__card--long
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/7.jpg").img-fluid
                a(href="#").personal__card.personal__card--wide
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/3.jpg").img-fluid
                a(href="#").personal__card.mt30
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/14.jpg").img-fluid
                a(href="#").personal__card.mt30
                  .personal__card__name Франк
                  .personal__card__status должность
                  img(src="images/people/8.jpg").img-fluid

          include shared/footer.pug
          include shared/personal-modals.pug
