doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          .mobile-menu-active-bg.text-xs-center
            .hero__logo.img-fluid.mt10
            .hero__logo__light
          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            include shared/header.pug

          //HERO::START
          .hero.hero--short.hero--portfolio
            .container
              .row
                .col-sm-12.text-xs-center
                  .hero__logo.img-fluid.hero__logo--white

          //PORTFOLIO::START
          section.portfolio
            .container
              .row
                .col-sm-12
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Портфолио
                .col-sm-6.offset-sm-3.no-pad
                  h1.heading__name Портфолио

              // START
              .row.portfolio__item
                .col-sm-12.col-md-3.col-lg-3.big-pad-r
                  .portfolio__item__name Реставрация зубов
                .col-sm-12.col-md-9.col-lg-6.no-pad.offset-md-0
                  .portfolio__item__desc По сути это те же пломбы, но изготовленные в лаборатории по индивидуальным слепкам, как правило, из керамики. Обладают максимальной точностью прилегания и высокой эстетикой. В отличие от обычной пломбы, керамическая вкладка, более долговечна, полностью восстанавливает анатомию зуба и защищает его от глубоких трещин и переломов стенок, которые зачастую являются причиной последующего удаления.
                  .portfolio__item__image
                    img(src="images/demo_teeth_1.jpg").img-fluid
                    img(src="images/demo_teeth_2.jpg").img-fluid

              .row.portfolio__item
                .col-sm-12.col-md-3.col-lg-3.big-pad-r
                  .portfolio__item__name Отбеливание зубов
                .col-sm-12.col-md-9.col-lg-6.no-pad.offset-md-0
                  .portfolio__item__desc По сути это те же пломбы, но изготовленные в лаборатории по индивидуальным слепкам, как правило, из керамики. Обладают максимальной точностью прилегания и высокой эстетикой. В отличие от обычной пломбы, керамическая вкладка, более долговечна, полностью восстанавливает анатомию зуба и защищает его от глубоких трещин и переломов стенок, которые зачастую являются причиной последующего удаления.
                  .portfolio__item__image
                    img(src="images/demo_teeth_1.jpg").img-fluid
                    img(src="images/demo_teeth_2.jpg").img-fluid

          include shared/footer.pug
