doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          #st-trigger-effects
            button.hamburger.hamburger--spin#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            include shared/header.pug

          //HERO::START
          .hero.hero--short.hero--services
            .container
              .row
                .col-sm-12.text-xs-center
                  .hero__logo.img-fluid.hero__logo--white

          //SERVICES::START
          section.services-inner
            .container
              .row
                .col-sm-12
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Услуги
                    .heading__navi
                      a(href="#") Имплантация
                      a(href="#").active Протезирование
                      a(href="#") Терапия
                      a(href="#") Эстетическая <br> стоматология
                      a(href="#") Пародонтология
                      a(href="#") Детская <br> стоматология
                      a(href="#") Ортодония
                      a(href="#") Диагностика
                    h1.heading__name Протезирование
              .row.mt30.mb40
                .col-sm-3
                  img(src="images/protezirovanie_1.jpg").img-fluid
                  img(src="images/protezirovanie_2.jpg").img-fluid.mt30
                .col-sm-9
                  .content
                    .content__heading.content__heading--no-pad Восстановление зуба вкладками
                    p По сути это те же пломбы, но изготовленные в лаборатории по индивидуальным слепкам, как правило, из керамики. Обладают максимальной точностью прилегания и высокой эстетикой. В отличие от обычной пломбы, керамическая вкладка, более долговечна, полностью восстанавливает анатомию зуба и защищает его от глубоких трещин и переломов стенок, которые зачастую являются причиной последующего удаления. Восстановление вкладкой показано при разрушении коронки зуба более, чем на 40%.
                    p Любой ортопедической конструкции будь то вкладка или коронка, предстоит функционировать в достаточно агрессивной, влажной среде полости рта под воздействием мощной функциональной нагрузки, поэтому одним из ключевых моментов для ее надежности является прецезионное качество прилежания к тканям зуба.
                    p Именно осознание этих факторов диктует нашим врачам необходимость использования в ежедневной практике специальной оптики и освещения, позволяющих проводить высокоточную обработку тканей зуба при подготовке к протезированию.
                    p Результатом столь тщательного подхода, является изготовление надежной конструкции и сохранность самого зуба, который она защищает.
                    button(href="#modalCallback").popup-with-zoom-anim.btn.btn--huge.btn--primary.btn--rounded ЗАПИСАТЬСЯ НА ПРИЕМ →



          include shared/footer.pug
