doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content
        .st-content-inner
          #st-trigger-effects
            button.hamburger.hamburger--spin#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            .container
              .row
                .col-sm-12
                  .header__wrapper
                    ul.header__navi
                      li.header__navi__btn
                        a(href="#") Записаться на прием
                      .header__navi__sections
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") ПЕРСОНАЛ
                        li
                          a(href="#") УСЛУГИ
                        li
                          a(href="#") ПОРТФОЛИО
                        li
                          a(href="#") КОНТАКТЫ

                      li.header__navi__lang-switcher
                        a(href="#") RU
                      li.header__navi__lang-switcher
                        a(href="#") EN
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-fb
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-insta

          //HERO::START
          .hero.hero--short.hero--services
            .container
              .row
                .col-sm-12.text-sm-center
                  .hero__logo.img-fluid.hero__logo--white

          //SERVICES::START
          section.services-inner
            .container
              .row
                .col-sm-12
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Услуги

          include shared/footer.pug
