doctype html
html
  include shared/head.pug

body
  .st-container#st-container
    .st-pusher
      include shared/sidebar-menu.pug

      .st-content#section-top
        .st-content-inner
          #st-trigger-effects
            button.hamburger.hamburger--spin#show-me-menu(type="button" data-effect="st-effect-8")
              span.hamburger-box
                span.hamburger-inner

          //TRANPARENT HEADER:: START
          header.header.header--static.header--transparent
            .container
              .row
                .col-sm-12
                  .header__wrapper
                    ul.header__navi
                      li.header__navi__btn
                        a(href="#modalCallback").popup-with-zoom-anim Записаться на прием
                      .header__navi__sections
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") НАШИ КЛИНИКИ
                        li
                          a(href="#") ПЕРСОНАЛ
                        li
                          a(href="#") УСЛУГИ
                        li
                          a(href="#") ПОРТФОЛИО
                        li
                          a(href="#") КОНТАКТЫ

                      li.header__navi__lang-switcher
                        a(href="#") RU
                      li.header__navi__lang-switcher
                        a(href="#") EN
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-fb
                      li.fl-r
                        a(href="#")
                          i.ico.ico-social-insta

          //HERO::START
          .hero.hero--short.hero--testimonials
            .container
              .row
                .col-sm-12.text-sm-center
                  .hero__logo.img-fluid.hero__logo--white

          //TESTIMONIALS::START -- INHERITACNE FROM FAQ
          section.faq.testimonials
            .container
              .row
                .col-sm-8
                  .heading
                    .heading__crumbs
                      a.heading__crumbs__home(href="#") Главная
                      span /
                      a(href="#") Отзывы
                    h1.heading__name Отзывы
                    .heading__desc По сути это те же пломбы, но изготовленные в лаборатории по индивидуальным слепкам, как правило, из керамики. Обладают максимальной точностью прилегания и высокой эстетикой.
              .row
                .col-sm-12
                  .faq__item.faq__item--testimonial
                    .row
                      .col-sm-3
                        img(src="images/otziv_1.jpg").img-fluid
                      .col-sm-9
                        .faq__item__name Евгений ройзман
                        .faq__item__status МЭР Г. ЕКАТЕРИНБУРГ
                        .faq__item__content Прежде чем начать серьёзное лечение, обошёл немалое количество стоматологических клиник Екатеринбурга. Требовался комплекс лечения: хирургия, имплантация и ортопедия. Во многих клиниках настораживало несоответствие качества лечения цене. И отсутствие гарантии успеха. Именно это особенно важно при такой теме, как имплантация. Остановил свой выбор на клинике Doctor Frank.
                    .row.testimonial__item
                      .col-sm-3
                        img(src="images/otziv_2.jpg").img-fluid
                      .col-sm-9
                        .faq__item__name ОЛЬГА ЧЕБЫКИНА
                        .faq__item__status ГЛАВНЫЙ РЕДАКТОР MALINA.AM
                        .faq__item__content Прежде чем начать серьёзное лечение, обошёл немалое количество стоматологических клиник Екатеринбурга. Требовался комплекс лечения: хирургия, имплантация и ортопедия. Во многих клиниках настораживало несоответствие качества лечения цене. И отсутствие гарантии успеха. Именно это особенно важно при такой теме, как имплантация. Остановил свой выбор на клинике Doctor Frank.

          include shared/footer.pug
