//Contacts

.contact__item
  padding-top: 20px
  padding-bottom: 40px
.contact__map
  width: 100%
  height: 350px

.contact
  .img-fluid
    height: 350px !important

.contact__details
  margin-top: 60px
  &__name
    font-size: 24px
    font-family: 'HarmoniaBlack'
    text-transform: uppercase
  &__content
    font-size: 18px
    line-height: 1.6em
    a
      color: $colorPrimary
      display: block
