// hamburger overwrite

.hamburger
  position: fixed
  z-index: 99
  right: 0
  top: 0px

//this is desktop hamgurger
.hamburger--spin
  @media($mobile)
    display: none

.hamburger-inner
  background-color: black
  &:before, &:after
    background-color: black


.hamburger.is-active
  .hamburger-inner
    background-color: white
    &:before, &:after
      background-color: white
