// Common Elements

.scroll-down
  padding: 40px 0
  span
    font-size: 15px
    display: block
    padding-top: 5px
    color: white
    line-height: 1
  &--gray
    padding-top: 20px
    span
      color: $grayColor
