//Portfolio

.portfolio__item
  margin-top: 20px
  margin-bottom: 80px
  &__name
    text-transform: uppercase
    text-align: right
    font-size: 24px
    font-family: 'HarmoniaSemiBold'
  &__desc
    font-size: 18px
    color: $grayColor
    line-height: 1.6em
    margin-bottom: 20px
  &__image
