/* 1. Layout */
/* Fonts */
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'HarmoniaBlack';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
		url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
		url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Harmonia';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
		url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
		url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype');
}
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'HarmoniaSemiBold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
		url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
		url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff'),
		url('../fonts/MullerRegular.ttf') format('truetype');
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff'),
		url('../fonts/MullerBold.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'DIN';
    src: url('../fonts/DINCondensedC.eot');
    src: url('../fonts/DINCondensedC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINCondensedC.woff2') format('woff2'),
		url('../fonts/DINCondensedC.woff') format('woff'),
		url('../fonts/DINCondensedC.ttf') format('truetype');
}
/* layout */
/* variables */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: inherit;
}
a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
}
body, html {
    overflow-x: hidden;
    max-width: 100%;
    background: white;
    color: #333;
    font-size: 14px;
    font-family: 'Harmonia';
}
.container {
    max-width: 1200px;
    width: 100%;
}
/* Components layout */
.header {
    color: white;
    font-size: 12px;
    font-family: 'HarmoniaBlack';
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;
}
.header--transparent {
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 99;
    width: 100%;
}
.header--floating {
    position: fixed;
    top: 50px;
}
.header--static {
    position: absolute;
}
.footer {
    font-size: 18px;
}
.hero {
    position: relative;
    padding-top: 1.3em;
    min-height: 800px;
    height: 100vh;
}
.hero--mainpage {
    background: url('../images/main_slide_1.jpg') no-repeat center;
    background-size: cover;
}
.hero--short {
    min-height: 500px;
    height: 500px;
}
.hero--faq {
    background: url('../images/faq_hero.jpg') no-repeat center;
    background-size: cover;
}
.about {
    position: relative;
    min-height: 800px;
    height: 100vh;
}
.about--mainpage {
    background: url('../images/main_slide_2.jpg') no-repeat center;
    background-position: top center;
    background-size: cover;
    background-size: 100% 80%;
}
.services {
    position: relative;
    min-height: 800px;
    height: 100vh;
}
.services--mainpage {
    background: url('../images/hand_2.jpg') no-repeat center;
    background-size: cover;
    background-size: cover;
}
/* inner pages */
.faq {}
/* Helpers */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.fl-r {
    float: right;
}
.mr1 {
    margin-right: 1em;
}
.h100 {
    min-height: 800px;
    height: 100vh;
}

/* 2. Modules */
/* hamburger overwrite */
.hamburger {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 99;
}
.hamburger-inner {
    background-color: black;
}
.hamburger-inner:before, .hamburger-inner:after {
    background-color: black;
}
/* Common Elements */
.scroll-down {
    padding: 40px 0;
}
.scroll-down span {
    display: block;
    padding-top: 5px;
    color: white;
    font-size: 15px;
    line-height: 1;
}
.scroll-down--gray {
    padding-top: 20px;
}
.scroll-down--gray span {
    color: #4b4b4b;
}
/* heading */
.heading {}
.heading__crumbs {
    padding-top: 40px;
    font-size: 12px;
    font-family: 'HarmoniaSemiBold';
}
a.heading__crumbs__home {
    color: #3db4b2;
}
.heading__crumbs span {
    display: inline-block;
    padding: 0 5px;
}
.heading__name {
    margin: 30px 0 5px 0;
    text-transform: uppercase;
    font-size: 75px;
    font-family: 'DIN';
    line-height: 1.1em;
}
.heading__desc {
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.6em;
}
/*footer */
.footer__copy {
    padding: 30px 0 35px 0;
    border-top: 2px solid #aeaeae;
}
.footer__developer {
    padding: 30px 0 35px 0;
    color: #3db4b2;
}
/* header */
.header__wrapper {
    border: 2px solid white;
}
.header__navi {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.header__navi li {
    display: inline-block;
}
.header__navi li a {
    display: inline-block;
    padding: 15px 10px 12px 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.header__navi li.header__navi__btn a {
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    border-right: 2px solid white;
}
.header__navi li.header__navi__btn a:hover {
    background: #39908f;
}
.header__navi li.header__navi__btn a::after {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
    display: inline-block;
    width: 10px;
    height: 10px;
    color: white;
    content: '+';
    font-size: 18px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.header__navi li.header__navi__lang-switcher {
    float: right;
    border-left: 2px solid white;
}
.header__navi li.header__navi__lang-switcher:hover {
    background: white;
    color: #333;
}
.header__navi__sections {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.header__navi__sections a {}
.header__navi__sections a:hover {
    opacity: .8;
}
/* HERO */
.hero__logo {
    display: inline-block;
    width: 196.5px;
    height: 67.5px;
    background: url('../images/logo_gray.png') no-repeat center;
    background-size: contain;
}
.hero__logo--white {
    background-image: url('../images/Logo_white.png');
}
.hero__title {
    margin-top: 260px;
    color: #39908f;
    font-size: 89px;
    font-family: 'DIN';
    line-height: 1;
}
.hero__signature {
    margin-top: 50px;
    color: #39908f;
    font-size: 24px;
}
.hero__signature span {
    display: block;
    margin-top: .5em;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.1em;
}
/* About mainpage */
.about .absolute {
    position: absolute;
    top: 0;
    right: 0;
}
.about__block {
    padding: 45px 40px;
}
.about__block span {
    display: inline-block;
    font-size: 15px;
    font-family: 'Muller';
    line-height: 2em;
}
.about__block .btn {
    margin-top: 30px;
}
.about__block__title {
    margin-bottom: 20px;
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 95px;
    font-family: 'DIN';
    line-height: 1.1em;
}
.about__block--light {
    margin-top: 310px;
    background: #f3f3f3;
}
.about__block--light span {
    color: #4b4b4b;
}
.about__block--primary {
    margin-top: 380px;
    padding-right: 80px;
    background: #39908f;
    color: white;
}
/* services */
.services__title {
    margin-top: 160px;
    color: white;
    font-size: 89px;
    font-family: 'DIN';
    line-height: 1;
}
.serivces__spiral a {
    position: absolute;
    display: inline-block;
    padding: 20px;
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.serivces__spiral a span {
    display: inline-block;
}
.serivces__spiral a:hover {
    color: #39908f;
}
.serivces__spiral a:hover::before, .serivces__spiral a:hover::after {
    background: #39908f;
}
.serivces__spiral a::before, .serivces__spiral a::after {
    display: none;
    margin-right: 10px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    content: ' ';
    vertical-align: -5px;
    -webkit-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}
a.serivces__spiral__pos-one {
    top: 23.2%;
    right: 14.7%;
}
a.serivces__spiral__pos-one::before {
    display: inline-block;
}
a.serivces__spiral__pos-two {
    top: 42.8%;
    right: 0.5%;
}
a.serivces__spiral__pos-two::after {
    display: inline-block;
}
a.serivces__spiral__pos-three {
    top: 62%;
    right: 13.1%;
}
a.serivces__spiral__pos-three::before {
    display: inline-block;
    vertical-align: 10px;
}
a.serivces__spiral__pos-four {
    top: 87%;
    right: 14.6%;
}
a.serivces__spiral__pos-four::after {
    display: inline-block;
}
a.serivces__spiral__pos-five {
    top: 48.9%;
    left: 18.5%;
}
a.serivces__spiral__pos-five::before {
    display: inline-block;
}
a.serivces__spiral__pos-six {
    top: 62%;
    left: 3.8%;
}
a.serivces__spiral__pos-six::before {
    display: inline-block;
}
a.serivces__spiral__pos-seven {
    top: 67%;
    left: 26%;
}
a.serivces__spiral__pos-seven::before {
    display: inline-block;
}
a.serivces__spiral__pos-eight {
    top: 80.6%;
    left: 14%;
}
a.serivces__spiral__pos-eight::before {
    display: inline-block;
    vertical-align: -10px;
}
/* faq */
.faq__item {
    position: relative;
    padding: 50px 0;
    border-bottom: 2px dotted #c6c6c6;
}
.faq__item:last-child {
    border-bottom: none;
}
.faq__item::before {
    position: absolute;
    top: 85px;
    left: 60px;
    display: block;
    width: 4.5px;
    height: 312.5px;
    background: url('../images/faq_dots.png') repeat-x left center;
    background-size: cover;
    content: ' ';
}
.faq__item__question {
    width: 115.5px;
    height: 106.5px;
    background: url('../images/talk_buble.png') no-repeat center;
    background-size: cover;
}
.faq__item__name {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'HarmoniaBlack';
}
.faq__item__content {
    position: relative;
    margin-top: 50px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.6em;
}
.faq__item__content::after, .faq__item__content::before {
    position: absolute;
    font-size: 75px;
    font-family: 'HarmoniaBlack';
}
.faq__item__content::after {
    top: -5px;
    left: -5px;
    content: '“';
}
.faq__item__content::before {
    right: 50%;
    bottom: -30px;
    content: '”';
}
.faq__item__status {
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'HarmoniaBlack';
}
.faq__item__answer {
    margin-top: 80px;
}
.faq__item__answer .img-fluid {
    max-width: 80%;
}
.faq__item__answer .faq__item__name {
    color: #3db4b2;
}
.faq__item__answer .faq__item__content {}
.faq__item__answer .faq__item__content::after, .faq__item__answer .faq__item__content::before {
    color: #3db4b2;
}

/* 3. Elements */
/* ICONS */
.ico {
    display: inline-block;
    content: ' ';
    font-style: normal;
}
/* mixin */
.ico-social-insta {
    width: 13.5px;
    height: 13px;
    background: url('../images/insta_icon.png') no-repeat center;
    background-size: 100%;
}
.ico-social-fb {
    width: 7.5px;
    height: 15px;
    background: url('../images/facebook_icon.png') no-repeat center;
    background-size: 100%;
}
.ico-scroll-down {
    width: 25.5px;
    height: 43px;
    background: url('../images/mouse_scroll_down.png') no-repeat center;
    background-size: 100%;
}
.ico-scroll-down--gray {
    width: 25.5px;
    height: 43px;
    background: url('../images/mouse_scroll_down_gray.png') no-repeat center;
    background-size: 100%;
}
/* buttons */
.btn {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:focus, .btn:active {
    outline: none;
}
/* generic modifiers */
.btn--rounded {
    border-radius: 2em;
}
.btn--huge {
    padding: 20px 25px 15px 25px;
    font-family: 'MullerBold';
}
.btn--outline {
    border: 2px solid transparent;
}
.btn--outline:hover {}
.btn--white {
    border-color: white;
}
.btn--white:hover {
    background: white;
    color: #39908f;
}
.btn--abosulte-ico .ico {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* 4. Theme */
/* С этим не работает листенер на скрол */
/* html, body, .st-container, .st-pusher */
/*   height: 100% */
.st-content {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.st-content-inner {
    position: relative;
}
.st-container {
    position: relative;
    overflow: hidden;
}
.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #39908f;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
}
.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.st-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
}
.st-menu ul li:first-child a {
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}
.st-effect-8 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.st-effect-8.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}
.st-effect-8.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}
.st-effect-8.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.st-effect-8.st-menu-open .st-effect-8.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.st-effect-8.st-menu::after {
    display: none;
}
.no-csstransforms3d .st-pusher, .no-js .st-pusher {
    padding-left: 300px;
}
