/* 1. Layout */
/* Fonts */
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'HarmoniaBlack';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
		url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
		url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Harmonia';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
		url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
		url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff'),
		url('../fonts/MullerRegular.ttf') format('truetype');
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff'),
		url('../fonts/MullerBold.ttf') format('truetype');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'DIN';
    src: url('../fonts/DINCondensedC.eot');
    src: url('../fonts/DINCondensedC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINCondensedC.woff2') format('woff2'),
		url('../fonts/DINCondensedC.woff') format('woff'),
		url('../fonts/DINCondensedC.ttf') format('truetype');
}
/* layout */
/* variables */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: inherit;
}
a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
}
body, html {
    overflow-x: hidden;
    max-width: 100%;
    background: white;
    color: #333;
    font-size: 14px;
    font-family: 'Harmonia';
}
.container {
    max-width: 1200px;
    width: 100%;
}
/* Components layout */
.header {
    color: white;
    font-size: 12px;
    font-family: 'HarmoniaBlack';
}
.header--transparent {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 9;
    width: 100%;
}
.header--floating {
    position: fixed;
}
.hero {
    position: relative;
    padding-top: 1.3em;
    min-height: 800px;
    height: 100vh;
}
.hero--mainpage {
    background: url('../images/main_slide_1.jpg') no-repeat center;
    background-size: cover;
}
.about {
    position: relative;
    min-height: 800px;
    height: 100vh;
}
.about--mainpage {
    background: url('../images/main_slide_2.jpg') no-repeat center;
    background-position: top center;
    background-size: cover;
    background-size: 100% 80%;
}
/* Helpers */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.fl-r {
    float: right;
}
.mr1 {
    margin-right: 1em;
}

/* 2. Modules */
/* Header mobile */
.header-mobile__wrapper

.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px 0px 5px 0px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: all;
    transition-property: all;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 0px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -7px;
    width: 45px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 45px;
    height: 4px;
    background-color: white;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    top: -20px;
}
.mobile-nav {
    display: none;
    background: #39908f;
    color: white;
    font-size: 17.6px;
    font-size: 1.1rem;
}
.mobile-nav .mobile-nav-list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}
.mobile-nav .mobile-nav-list li {
    display: block;
    margin: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li .ico {
    margin-right: .5em;
}
.mobile-nav .mobile-nav-list li a {
    display: block;
    padding: 0.6em 3.5em 0.7em 0.7em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid transparent;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li a:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li a:active, .mobile-nav .mobile-nav-list li a:focus {
    color: white;
    text-decoration: none;
}
.mobile-nav .mobile-nav-list li.active a {
    border-left-color: #f45b63;
}
.mobile-nav .mobile-nav-list li:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li:hover:not(.active) a {
    border-color: rgba(51, 51, 51, 0.5);
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl {
    display: none;
    padding-left: 20px;
    list-style: circle;
    font-size: 16px;
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl a {
    border-bottom: none;
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl.active {
    display: block;
}
/* Common Elements */
.scroll-down {
    padding-top: 40px;
}
.scroll-down span {
    display: block;
    padding-top: 5px;
    color: white;
    font-size: 15px;
    line-height: 1;
}
.scroll-down--gray span {
    color: #4b4b4b;
}
/* header */
.header__wrapper {
    border: 2px solid white;
}
.header__navi {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.header__navi li {
    display: inline-block;
}
.header__navi li a {
    display: inline-block;
    padding: 15px 10px 12px 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.header__navi li.header__navi__btn a {
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    border-right: 2px solid white;
}
.header__navi li.header__navi__btn a:hover {
    background: #39908f;
}
.header__navi li.header__navi__btn a::after {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
    display: inline-block;
    width: 10px;
    height: 10px;
    color: white;
    content: '+';
    font-size: 18px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.header__navi li.header__navi__lang-switcher {
    float: right;
    border-left: 2px solid white;
}
.header__navi li.header__navi__lang-switcher:hover {
    background: white;
    color: #333;
}
.header__navi__sections {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.header__navi__sections a {}
.header__navi__sections a:hover {
    opacity: .8;
}
/* HERO */
.hero__logo {
    display: inline-block;
    width: 196.5px;
    height: 67.5px;
    background: url('../images/logo_gray.png') no-repeat center;
    background-size: contain;
}
.hero__title {
    margin-top: 260px;
    color: #39908f;
    font-size: 89px;
    font-family: 'DIN';
    line-height: 1;
}
.hero__signature {
    margin-top: 50px;
    color: #39908f;
    font-size: 24px;
}
.hero__signature span {
    display: block;
    margin-top: .5em;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.1em;
}
/* About mainpage */
.about .absolute {
    position: absolute;
    top: 0;
    right: 0;
}
.about__block {
    padding: 45px 40px;
}
.about__block span {
    display: inline-block;
    font-size: 15px;
    font-family: 'Muller';
    line-height: 2em;
}
.about__block .btn {
    margin-top: 30px;
}
.about__block__title {
    margin-bottom: 20px;
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 95px;
    font-family: 'DIN';
    line-height: 1.1em;
}
.about__block--light {
    margin-top: 400px;
    background: #f3f3f3;
}
.about__block--light span {
    color: #4b4b4b;
}
.about__block--primary {
    margin-top: 500px;
    padding-right: 80px;
    background: #39908f;
    color: white;
}

/* 3. Elements */
/* ICONS */
.ico {
    display: inline-block;
    content: ' ';
    font-style: normal;
}
/* mixin */
.ico-social-insta {
    width: 13.5px;
    height: 13px;
    background: url('../images/insta_icon.png') no-repeat center;
    background-size: 100%;
}
.ico-social-fb {
    width: 7.5px;
    height: 15px;
    background: url('../images/facebook_icon.png') no-repeat center;
    background-size: 100%;
}
.ico-scroll-down {
    width: 25.5px;
    height: 43px;
    background: url('../images/mouse_scroll_down.png') no-repeat center;
    background-size: 100%;
}
.ico-scroll-down--gray {
    width: 25.5px;
    height: 43px;
    background: url('../images/mouse_scroll_down_gray.png') no-repeat center;
    background-size: 100%;
}
/* buttons */
.btn {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:focus, .btn:active {
    outline: none;
}
/* generic modifiers */
.btn--rounded {
    border-radius: 2em;
}
.btn--huge {
    padding: 20px 25px 15px 25px;
    font-family: 'MullerBold';
}
.btn--outline {
    border: 2px solid transparent;
}
.btn--outline:hover {}
.btn--white {
    border-color: white;
}
.btn--white:hover {
    background: white;
    color: #39908f;
}
.btn--abosulte-ico .ico {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
